@model IList<nfl.fantasy.sanchez.bowl.domain.PlayerDetails>
<div id="starters" class="starter-container">
    @for (int i = 0; i < Model.Count(); i++)
    {
        var currentPlayerDetails = Model.ElementAt(i);
        <div class="player-row">
            <ul>
                <li>@currentPlayerDetails.Name </li>
                <li id="position">@currentPlayerDetails.Position</li>
                <li>@currentPlayerDetails.Score</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    }
</div>
