@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>

    @foreach (var current in Model.PlayerInfos)
    {
        <div class="player-row">
            <ul>
                <li>@current.Name</li>
                <li>@current.Position</li>
                <li>@current.Score</li>
            </ul>

        </div>
    }
</div>
