body {
    padding-top: 50px;
    padding-bottom: 20px
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 2em;
    padding-right: 15px
}


.navbar {
    background-color: #013369;
    border-color: #013369;
    color: white;
}

.navbar-brand:hover {
    color: gainsboro;
}

.navbar .container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.nfl-logo {
    background-image: url(https://static.nfl.com/static/content/public/static/wildcat/assets/img/application-shell/shield/default.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 48px;
    justify-content: center;
    width: 48px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    float: left;
}

.butt-fumble-img {
    margin-top: 1.5em;
    background-image: url('../images/butt-fumble.jpg');
    height: 667px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.player-row li{
    display: block;
    width: 33%;
    float: left;
}

.total-label {
    text-align: right;
}

.bench-label {
    margin: 0 2em;
    background-color: gainsboro;
}

.starter-container {
    cursor: move;
}

.bench-container {
    border: 2px black dashed;
    cursor: move;
}

.col {
    display: block;
    width: 33%;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
}

.col ul {
    list-style: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}
